.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  border: #0058ac solid 1px;
  width: 15%;
  height: 45vh;
  border-radius: 2vh;
  margin: 1vh;
}

.name{
  margin: 0 auto;
}

.status{
  margin: 1vh auto;
}

.btn-color{
  margin-bottom: 1vh;
  border: 1px solid white;
  border-radius: 1vh;
}

.colorMan{
  background-color: #0965bb;
}
.colorWoman{
  background-color: rosybrown;
}

.imgCard{
  width: 50%;
}

.fechahora{
  margin: 0.6vh auto;
  color: white;
}

@media screen and (max-width:500px){
 .contenedor{
   width: 95%;
   height: 35vh;
 }


 .name{
  margin: 0 auto;
  font-size: 4vh;
  font-weight: 100;
 }

 .imgCard{
  width: 20%;
 }

 .fechahora{
  font-size: 3vh;
 }

 .status{
  font-size: 3vh;
 }

 .btn-color{
  color: white;
  width: 10vh;
  font-size: 3vh;
 }
}