.contenedor_form{
  background-image: url('../images/electrodomesticos.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 4vh;
  margin: auto;
}

input,label, select{
  width: 50%;
  margin: 1vh auto;
  border-radius: 1vh;
}

textarea{
  width: 50%;
  height: 20%;
  margin: 1vh auto;
}



.button-submit{
  width: 10%;
  margin: 1vh auto;
  background-color:  rgb(160, 160, 228);
  border-radius: 1vh;
  color: white;
}

@media screen and (max-width:600px) {
  input, label, select, textarea{
    width: 98%;
    color: #0058ac;
  }

  label{
    font-size: 3vh;
  }
  input,select,option{
    font-size: 2vh;
  }

  .button-submit{
    width: 98%;
    font-size: 3vh;
  }

  form{
    width: 50%;
    border-bottom-left-radius:15%;
    border-bottom-right-radius : 15%;
  }
}